body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    margin: 0;
    padding: 0;
}

header{
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b
    );

    text-align:center;
    padding:60px 20px;
}

section {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #1e293b;
    border-radius: 10px;
}

h1 {
    color: #38bdf8;
}

h2 {
    color: #38bdf8;
}

ul {
    padding-left: 20px;
}
.foto{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #38bdf8;
    margin-bottom:20px;
}
.boton{
    display:inline-block;
    background:#38bdf8;
    color:white;
    padding:12px 25px;
    margin:10px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
}

.boton:hover{
    background:#0ea5e9;
}
